.choresText {
   color: palevioletred;
   font-size: 24px; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: palevioletred;
   text-decoration-line: underline;
   text-align: left;
}